In [1]:
import pandas as pd

In [2]:
user_activity = pd.read_csv('course-217-events.csv')
user_activity.head()

   user_id  action  step_id        time
0        1  viewed    47435  1465181036
1        1  viewed    47438  1465181034
2        1  viewed    47435  1465181021
3        1  viewed    47436  1465181015
4        1  viewed    41605  1465180037

In [18]:
user_activity.sort_values('time', inplace=True)

In [9]:
structure = pd.read_csv('course-217-structure.csv', index_col='step_id')
structure.head()

,course_id,module_id,module_position,lesson_id,lesson_position,step_position,step_type,step_cost
step_id,,,,,,,,
38842,217,614,2,13228,2,1,text,0
39715,217,614,2,13228,2,6,code,1
39716,217,614,2,13228,2,7,code,1
39717,217,614,2,13228,2,8,code,1
39721,217,614,2,13228,2,9,free-answer,0

In [3]:
from collections import Counter, defaultdict

In [14]:
from progressbar import ProgressBar

In [19]:
counter = Counter()
ends = dict()

bar = ProgressBar(max_value=user_activity.shape[0])
for i, row in bar(user_activity.iterrows()):
    if row['action'] != 'passed':
        continue
    
    step_cost = structure.loc[row['step_id']]['step_cost']
    if step_cost == 0:
        continue
    
    u = row['user_id']
    counter[u] += step_cost
    
    if counter[u] == 24:
        ends[u] = row['time']

100% (1431923 of 1431923) |###############| Elapsed Time: 0:03:52 Time: 0:03:52

In [20]:
durations = dict()

for user, end_time in ends.items():
    start_time = user_activity[user_activity.user_id == user].iloc[0].time
    durations[user] = end_time - start_time

In [21]:
for user, duration in sorted(durations.items(), key=lambda x: x[1])[:10]:
    print(user, end=',')

4313,1264,821,1146,1124,2622,713,972,4280,1291,